.breadcrumb-container {
    display: block;
    @extend .small;

    .breadcrumb {
        padding: 0 0;
        border-color: #dbe3e6;
        border: 1px solid #f3f3f3;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        list-style: none;
        background-color: transparent;
        border-radius: 0.25rem;

        & .breadcrumb-item a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        & .breadcrumb-item + .breadcrumb-item {
            padding-left: 2px;
        }

        & .breadcrumb-item + .breadcrumb-item::before {
            padding-right: 2px;
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill-rule='evenodd' d='M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z'%3E%3C/path%3E%3C/svg%3E");
        }
    }
}
