$blue-grey-50: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-300: #90A4AE;
$blue-grey-400: #78909C;
$blue-grey-500: #607D8B;
$blue-grey-600: #546E7A;
$blue-grey-700: #455A64;
$blue-grey-800: #37474F;
$blue-grey-900: #263238;

$blue-50: #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$amber-200: #FFE082;
$amber-500: #FFC107;
$amber-800: #FF8F00;

$primary: #0078D4;
$secondary: $blue-grey-100;

@import "bootstrap";
//@import "select2-component/dist/select2.css";
@import "breadcrumb";
@import 'material-icons/iconfont/material-icons.css';
@import "@fontsource/roboto/latin-100.css";
@import "@fontsource/roboto/latin-300.css";
@import "@fontsource/roboto/latin-400.css";
@import "@fontsource/roboto/latin-500.css";
@import "@fontsource/roboto/latin-700.css";
@import "@fontsource/roboto/latin-900.css";

$border-radius: 3px;

:root {
    --bs-border-radius: $border-radius;
    --bs-card-border-radius: $border-radius;
    --bs-modal-border-radius: 4px;
}

.flex {
    display: flex;

    &.flex-column {
        flex-direction: column;
    }

    &.flex-row {
        flex-direction: row;
    }
}

.fs-7 {
    font-size: .9rem;
}

.fs-8 {
    font-size: .85rem;
}

.octicon {
    fill: currentColor;
    display: inline-block;

}

.alert {
    @extend .p-2;
    border-radius: $border-radius;

    &.alert-sm {
        @extend .p-1;
    }

    &.alert-info {
        background-color: $blue-50;
        color: $blue-900;
        border-color: $blue-100;
    }
}

.btn {
    font-weight: 400;
    --bs-btn-font-size: .75rem;
    //text-transform: uppercase;
    border-radius: $border-radius;

    &.btn-sm {
        --bs-btn-font-size: .65rem;
        padding: 1px 4px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.select2-selection {
    border-color: #ced4da !important;
}

.form-select {
    font-size: 0.875rem;
    font-weight: inherit;
    color: inherit;
    border-radius: 0.25rem;
}

.text-amber-200 {
    color: $amber-200;
}
.text-amber-500 {
    color: $amber-500;
}
.text-amber-800 {
    color: $amber-800;
}
.text-blue-800 {
    color: $blue-800;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 9pt;
    margin: 0;
    padding: 0;
    background-color: #fff;

    h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif;
        margin: 0;
    }

    h5, h6 {
        font-weight: 400;
    }

    .modal-dialog {
        box-shadow: 0px 26px 58px 0px rgba(0, 0, 0, .22), 0px 5px 15px 0px rgba(0, 0, 0, .18);

        h6 {
            font-weight: 500;
        }

        & .modal-header {
            border: 0;

            & .btn-close {
                border: 0 !important;
                outline: 0 !important;
                box-shadow: none !important;
                border-radius: 0;

                &:hover {
                    background-color: $grey-200;
                }

                &:active {
                    background-color: $grey-300;
                }
            }
        }
        
        & .modal-content {
            --bs-modal-border-radius: 3px;
            & input, & select {
                border-radius: 0;
                &:not(:focus) {
                    border-color: $grey-600;
                }
            }
    
            & select option {
                padding: 3px 5px;
            }
        }
    
        & .modal-footer {
            // background-color: $blue-grey-50;
            border-top: 0;
    
            & .btn {
                @extend .p-0;
                border-radius: 2px;
                min-width: 70px;
                height: 32px;
                line-height: 1;
                padding: 4px 12px;
                font-weight: 400;
    
                &.btn-secondary {
                    background-color: $white;
                    border: 1px solid $grey-700;
                    &:hover {
                        background-color: $grey-200;
                    }

                    &:active {
                        background-color: $grey-300;
                    }
                }
            }
        }
    }

    & .page {
        @extend .flex;
        @extend .flex-column;

        & .page-header {
            @extend .flex;
            @extend .flex-row;
            @extend .align-items-center;
            @extend .p-1;
            max-height: 42px;
            height: 42px;
            background-color: #0078D4;

            & .search-box {
                @extend .flex;
                @extend .align-items-center;
                @extend .m-auto;
                @extend .w-50;
                background-color: $blue-200;
                border-radius: $border-radius;
                transition: background-color 250ms ease;

                & .octicon {
                    color: $blue-800;
                }

                & input {
                    @extend .p-0;
                    @extend .form-control;
                    @extend .form-control-sm;
                    min-height: auto;
                    height: 28px;
                    line-height: 1;
                    outline: 0 !important;
                    box-shadow: none !important;
                    border: 0 none !important;
                    background: transparent !important;
                    font-size: 9pt;

                    &::placeholder {
                        color: $blue-800;
                    }

                    &:focus {
                        &::placeholder {
                            color: $blue-grey-300;
                        }
                    }
                }
            }
        }

        & .page-content {
            @extend .flex;
            @extend .flex-row;
            @extend .col-12;
            height: calc( 100vh - 48px);
            max-height: calc( 100vh - 48px);

            & .card {
                --bs-card-border-radius: 2px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            & .page-navigation {
                width: 225px !important;

                & .page-navigation-inner {
                    @extend .navbar;
                    @extend .flex;
                    @extend .flex-column;
                    align-items: flex-start;
                    background-color: #fff;
                    //height: calc(100vh - 48px);
                    //border-right: 1px solid #ccc;
    
                    ol {
                        display: block;
                        width: 100%;
                    }
    
                    & .nav-item-header {
                        @extend .ms-3;
                        @extend .mb-2;
                        color: $blue-800;
                        font-weight: 700;
                    }
    
                    & .nav-item {
                        display: block;
                        transition: background-color 250ms ease;
                        & .nav-link {
                            @extend .ps-4;
                            @extend .flex;
                            @extend .align-items-center;
                            color: $blue-grey-600;
                        }
    
                        &:hover {
                            & .nav-link:not(.active) {
                                background-color: $blue-grey-50;
                            }
                        }
    
                        & .nav-link.active {
                            background-color: $blue-100;
                            color: $blue-900;
                        }
                    }
                }
            }

            & .command-bar {
                @extend .flex;
                @extend .align-items-center;
                @extend .mb-2;
                border-bottom: 1px solid $blue-grey-100;

                .btn {
                    padding: 6px 8px;
                    border-radius: 0;
                    text-transform: none;
                    font-size: 9pt !important;
                    font-weight: 400 !important;

                    &:hover {
                        background-color: $grey-200;
                    }

                    &:active, &:focus, &[disabled] {
                        border-color: transparent;
                    }

                    &:active {
                        background-color: $grey-300;
                    }

                    &[disabled] {
                        color: $grey-200;
                    }
                }
            }

            & .data-table {
                @extend .container-fluid;
                //@extend .card;
                border: 0;
                background-color: #fff;

                & .row {
                    display: flex;
                    border-bottom: 1px solid $blue-grey-100;
                    transition: background-color 250ms ease;

                    & .table-column {
                        @extend .ps-3;
                        @extend .pe-3;
                        @extend .pt-2;
                        @extend .pb-2;
                        min-width: 50px;

                        &.table-header {
                            @extend .pb-1;
                            @extend .pt-1;
                            font-weight: 600;
                            font-size: .6rem;
                            color: $blue-grey-800;
                        }
                    }

                    &:not(.header-row):hover {
                        cursor: pointer;
                        background-color: $blue-grey-50;
                    }
                }

                & .row:last-of-type {
                    @extend .mb-2;
                    border: 0 none;
                }
            }
        }
    }
}
