$blue-grey-50: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-300: #90A4AE;
$blue-grey-400: #78909C;
$blue-grey-500: #607D8B;
$blue-grey-600: #546E7A;
$blue-grey-700: #455A64;
$blue-grey-800: #37474F;
$blue-grey-900: #263238;

$blue-50: #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$amber-200: #FFE082;
$amber-500: #FFC107;
$amber-800: #FF8F00;

$primary: #0078D4;
$secondary: $grey-500;

@import "bootstrap";
//@import "select2-component/dist/select2.css";
@import "breadcrumb";
@import 'material-icons/iconfont/material-icons.css';
@import "@fontsource/roboto/latin-100.css";
@import "@fontsource/roboto/latin-300.css";
@import "@fontsource/roboto/latin-400.css";
@import "@fontsource/roboto/latin-500.css";
@import "@fontsource/roboto/latin-700.css";
@import "@fontsource/roboto/latin-900.css";

$border-radius: 3px;

:root {
    --bs-border-radius: $border-radius;
    --bs-card-border-radius: $border-radius;
    --bs-modal-border-radius: 4px;
}

.flex {
    display: flex;

    &.flex-column {
        flex-direction: column;
    }

    &.flex-row {
        flex-direction: row;
    }
}

.fs-7 {
    font-size: .9rem;
}

.fs-8 {
    font-size: .85rem;
}

.octicon {
    fill: currentColor;
    display: flex;
    min-width: 12px;
}

.alert {
    @extend .p-2;
    border-radius: 0;
    border: 0;

    &.alert-sm {
        @extend .p-1;
        @extend .ps-2;
        @extend .pe-2;
    }

    &.alert-info {
        background-color: $blue-50;
        color: $blue-900;
    }

    &.alert-danger {
        background-color: #fde7e9;
    }

    &.alert-default {
        background-color: #F3F2F1;
    }

    &.alert-warning {
        background-color: #FFF4CE;
    }

    &.alert-severe-warning {
        background-color: #FED9CC;
    }
}

.btn {
    font-weight: 400;
    --bs-btn-font-size: .75rem;
    border-radius: $border-radius;

    &.btn-sm {
        --bs-btn-font-size: .65rem;
        padding: 1px 4px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.select2-selection {
    border-color: #ced4da !important;
}

.form-select {
    font-size: 0.875rem;
    font-weight: inherit;
    color: inherit;
    border-radius: 0.25rem;
}

.text-amber-200 {
    color: $amber-200;
}
.text-amber-500 {
    color: $amber-500;
}
.text-amber-800 {
    color: $amber-800;
}
.text-blue-800 {
    color: $blue-800;
}

.text-decoration-none {
    text-decoration: none;

    &:hover {
        text-decoration: underline !important;
    }
}

.form-control {
    border-radius: 0;
    font-weight: 400;
    font-size: 0.8rem;

    &:not(:focus) {
        border-color: $grey-600;
    }

    &:disabled {
        border-color: $grey-300;
        background-color: $grey-100;
        color: $grey-600;
    }
}

.form-check-input[type="checkbox"] {
    @extend .mt-0;
    @extend .mb-0;
    width: 15px;
    height: 15px;
    max-width: 15px;
    min-width: 15px;
    max-height: 15px;
    min-height: 15px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid $grey-500;
    box-shadow: none;
    outline: none;
    transition: background-color 250ms ease;

    &:hover {
        border-color: $grey-600;
    }

    &:checked {
        background-color: $primary;
        border-color: $primary;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='white' d='M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.751.751 0 01.018-1.042.751.751 0 011.042-.018L6 10.94l6.72-6.72a.75.75 0 011.06 0z'%3E%3C/path%3E%3C/svg%3E") !important;
        
        &:hover {
            border-color: darken($primary, 10%);
            background-color: darken($primary, 10%);
        }
    }
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 9pt;
    margin: 0;
    padding: 0;
    background-color: #fff;

    h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif;
        margin: 0;
    }

    h5, h6 {
        font-weight: 400;
    }

    .modal-backdrop {
        --bs-backdrop-opacity: .15;
    }

    .modal-dialog {
        box-shadow: 0px 26px 58px 0px rgba(0, 0, 0, .22), 0px 5px 15px 0px rgba(0, 0, 0, .18);

        h6 {
            font-weight: 500;
        }

        & .modal-header {
            border: 0;

            & .btn-close {
                border: 0 !important;
                outline: 0 !important;
                box-shadow: none !important;
                border-radius: 0;

                &:hover {
                    background-color: $grey-200;
                }

                &:active {
                    background-color: $grey-300;
                }
            }
        }
        
        & .modal-content {
            --bs-modal-border-radius: 3px;

            & .modal-body {
                padding-top: 0 !important;
            }
        }
    
        & .modal-footer {
            border-top: 0;
    
            & .btn {
                @extend .p-0;
                border-radius: 2px;
                min-width: 70px;
                height: 32px;
                line-height: 1;
                padding: 4px 12px;
                font-weight: 400;
    
                &.btn-secondary {
                    background-color: $white;
                    border: 1px solid $grey-700;
                    &:hover {
                        background-color: $grey-200;
                    }

                    &:active {
                        background-color: $grey-300;
                    }
                }
            }
        }
    }

    & .page {
        @extend .flex;
        @extend .flex-column;

        & .page-header {
            @extend .flex;
            @extend .flex-row;
            @extend .align-items-center;
            @extend .p-0;
            max-height: 42px;
            height: 42px;
            background-color: $primary;

            & .btn-menu {
                border: 0 none;
                outline: none;
                box-shadow: none;
                border-radius: 0;
                min-width: 42px;
                min-height: 42px;
                transition: background-color 250ms ease;

                &:hover {
                    background-color: darken($primary, 5%);
                }

                &:active {
                    background-color: darken($primary, 10%);
                }
            }

            & .search-box {
                @extend .flex;
                @extend .align-items-center;
                @extend .m-auto;
                @extend .w-50;
                background-color: $blue-200;
                border-radius: $border-radius;
                transition: background-color 250ms ease;

                & .octicon {
                    color: $blue-800;
                }

                & input {
                    @extend .ps-0;
                    @extend .form-control;
                    @extend .form-control-sm;
                    outline: 0 !important;
                    box-shadow: none !important;
                    border: 0 none !important;
                    background: transparent !important;
                    font-size: 13px;
                    line-height: 22px;

                    &::placeholder {
                        color: $blue-800;
                    }

                    &:focus {
                        &::placeholder {
                            color: $blue-grey-300;
                        }
                    }
                }
            }
        }

        & .page-navigation {
            width: 225px !important;

            & .page-navigation-inner {
                @extend .navbar;
                @extend .flex;
                @extend .flex-column;
                align-items: flex-start;
                background-color: #fff;

                ol {
                    display: block;
                    width: 100%;
                }

                & .nav-item-header {
                    @extend .ms-3;
                    @extend .mb-2;
                    color: $blue-800;
                    font-weight: 700;
                }

                & .nav-item {
                    display: block;
                    transition: background-color 250ms ease;

                    & .nav-link {
                        @extend .ps-4;
                        @extend .flex;
                        @extend .align-items-center;
                        color: $blue-grey-600;
                    }

                    &:hover {
                        & .nav-link:not(.active) {
                            background-color: $blue-grey-50;
                        }
                    }

                    & .nav-link.active {
                        background-color: $blue-100;
                        color: $blue-900;
                    }
                }
            }
        }

        & .page-content {
            @extend .container;
            @extend .p-3;
            height: calc( 100vh - 48px);
            max-height: calc( 100vh - 48px);

            & .card {
                --bs-card-border-radius: 2px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            & .command-bar {
                @extend .flex;
                @extend .align-items-center;
                @extend .mb-2;
                border-bottom: 1px solid $grey-300;

                .command-btn {
                    @extend .btn;
                    @extend .btn-sm;
                    @extend .flex;
                    @extend .align-items-center;

                    padding: 6px 8px;
                    border-radius: 0;
                    text-transform: none;
                    font-size: 9pt !important;
                    font-weight: 400 !important;

                    & .octicon {
                        @extend .me-1;
                    }

                    &:hover {
                        background-color: $grey-200;
                    }

                    &:active, &:focus, &[disabled] {
                        border-color: transparent;
                    }

                    &:active {
                        background-color: $grey-300;
                    }

                    &:not([disabled]) {
                        & .octicon {
                            @extend .text-primary;
                        }
                    }

                    &[disabled] {
                        color: $grey-600;
                    }
                }
            }

            & .data-table {
                @extend .container-fluid;
                //@extend .card;
                border: 0;
                background-color: #fff;

                & .row {
                    display: flex;
                    border-bottom: 1px solid $grey-100;
                    transition: background-color 250ms ease;

                    & .table-column {
                        @extend .ps-2;
                        @extend .pe-2;
                        @extend .pt-1;
                        @extend .pb-1;
                        @extend .flex;
                        align-items: center;
                        min-width: 50px;

                        &.icon {
                            @extend .ps-2;
                            @extend .pe-2;
                            min-width: 26px;
                            width: 26px;
                        }

                        &.table-header {
                            @extend .pb-1;
                            @extend .pt-1;
                            align-items: flex-end;
                            font-weight: 600;
                            font-size: 8pt;
                            color: $blue-grey-800;
                            text-transform: uppercase;
                        }
                    }

                    &:not(.header-row) {
                        &:hover {
                            background-color: $grey-100;
                        }

                        &.selected {
                            background-color: $grey-200;
                        }
                    }


                }

                & .row:last-of-type {
                    @extend .mb-2;
                    border: 0 none;
                }
            }
        }
    }
}
